extends email-layout

block content
  h2 Thank You For The Purchase
  p Hello. You have just successfully purchased access to the worlds largest Restaurants and Take Away online marketing platform. Please to build your Restaurant or Take Away shop for large market out reach,  use the Access Code bellow to gain access to your account.
  +button('Access Code', paidcode )
  
  p If you didn't make a purchase, please ignore this email.
