extends layout_fr

block content
	.inner
		h2 Modifier votre compte
		form(action="/accountfr" method="POST")
			label(for="name") Nom
			input(type="text" name="name" value=user.name)
			label(for="email") Email
			input(type="email" name="email" value=user.email)
			input.button(type="submit" value="Mettre A Jour Mon Compte")