mixin forgotFormfr()
	form.form(action="/accountfr/forgotfr" method="POST")
		h2 J'ai oublié mon mot de passe!
		label(for="email") Email
		input(type="email" name="email" class="text-input")
		input.button(type="submit" value="Envoyer une Réinitialiser")